body {
  font-family: 'Raleway', sans-serif;
  margin: 0; }

main.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; }
  main.grid .days {
    grid-column: 1/4; }

header {
  background: #dddddd;
  height: 100px; }
